<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>exersice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE126C081F6AD80100606CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE126C1C1F6AD80100606CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE126C271F6AD80100606CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
